version: "3.8"
services:
  icarust:
    image: adoni5/icarust
    init: true
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    ports:
      - "10000:10000"
      - "10001:10001"
    volumes:
      - ./configs:/configs
      - /opt/ont/minknow/conf/rpc-certs:/opt/ont/minknow/conf/rpc-certs
      - ../squiggle_arrs:/squiggle_arrs
